<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br><br>
            <h2 class="section-heading">About The Founder</h2>
            <br>
            <p><a href="https://saman.daneshvar.org">Saman Daneshvar</a> is a Machine Learning, Data Science, and NLP Engineer based in Ottawa, Canada. He is a software engineer, passionate about Computer Science education and computer programming.</p>
            <p>Saman speaks English and Persian, and is fluent in Python, Java, JavaScript, C, C++, R, MATLAB, and more.</p>
            <p>He founded <strong>Python ASAP</strong> with the mission to spread the knowledge of coding and computer programming. Python ASAP aims to improve coding skills of beginners as well as experts.</p>
            <br>
        </div>
    </div>
</section>
