<section id="brief-testimonials" class="container content-section text-left">
    <!-- Brief Testimonials -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	    <h2>Testimonials</h2>
	    <div class="lead">
	        <i><blockquote>
	            <p>“I owe my current job to Saman’s classes!</p>
	            <p>I needed to learn Python for a job opportunity, and I knew nothing about programming at the time. Saman taught me everything step by step, and within a few months I was able to pass the interview for my new position.”</p>
	        </blockquote></i>

                <p><b>Azar Riahi</b> took private classes in 2019.</p>

                <p><a href="{{ site.url }}/testimonials">Read more reviews or write a testimonial.</a></p>
                <br><br>
            </div>
        </div>
    </div>
</section>
