<section id="contact" class="container">

  <div class="row">
    <div class="lead col-md-6 col-md-offset-3">
      <br><br>
      <h2 class="section-heading">Contact Us</h2>

      <p><i class="fa fa-user"></i> Telegram: @smndnv</p>
      <p><img class="img-responsive" src="{{ site.url }}/assets/img/telegram-logo.svg"></img> Telegram: @smndnv</p>
      <p>- Telegram: @smndnv (t.me/smndnv)</p>
      <p>- Email</p>

      <!-- Contact form from Arengu -->
      <script async src="https://sdk.arengu.com/forms.js"></script>
      <div data-arengu-form-id="160892593974666075"></div>
    </div>
  </div>

  2<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.

</section>
