<section id="contact" class="container">
  <div class="row">
    <div class="lead col-md-6 col-md-offset-3">

      <h2 class="section-heading">Contact Us</h2>

	  <p><i class="far fa-comment"></i>&nbsp; Send us a message using the contact form below.</p>
      <p><i class="far fa-envelope"></i>&nbsp; Email:
        <a id="email" href="mailto:honeypot21@pythonasap.com" onmouseover="reveal(this)" ontouchstart="reveal(this)">Bot defense. Hover over to reveal the address.</a>
      </p>
	  <p><i class="fas fa-phone-alt"></i>&nbsp; Call:
		<a id="phone" href="javascript:void(0);" onmouseover="reveal(this)" ontouchstart="reveal(this)">Bot defense. Hover over to reveal the number.</a>
	  </p>
	  <p><i class="fab fa-telegram" style="color:#28a8e9;"></i>&nbsp; Telegram: <a href="https://t.me/smndnv">@smndnv</a></p>
      <br>

      <!-- Contact form from Arengu -->
      <script async src="https://sdk.arengu.com/forms.js"></script>
      <div data-arengu-form-id="160892593974666075"></div>
      
    </div>
  </div>
</section>

<script type='module'>
function reveal(element) {
if (element.id == "email") {
  const ADDRESS = "{{ site.contact-email }}" + String.fromCharCode(64) + "{{ site.email-domain }}";
  element.innerHTML = ADDRESS;
  element.href = ":otliam".split("").reverse().join("") + ADDRESS;
} else if (element.id == "phone") {
  element.innerHTML = "{{ site.phone }}".split("").reverse().join("");
  element.href = "{{ site.phone-url }}".split("").reverse().join("");
}
}
</script>
