<head>

{% if site.google-analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script>
<script>  // This script is not dependant on gtag.js, therefore, it is okay that it is executed before gtag.js.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '{{ site.google-analytics }}');
</script>
{% endif %}

<!-- Note that in Liquid, *nil* is not equal to *false*, even though they both evaluate to *falsy* -->
{% if page.sitemap == false %}
<meta name="robots" content="noindex">
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">

<title>
{% if page.title_override %}
	{{ page.title_override }}
{% else %}
	{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
{% endif %}
</title>

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="{{ site.url }}/assets/img/python-asap-logo.svg">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">

<!-- Custom CSS (preloaded) -->
<link rel="preload stylesheet" as="style" href="{{ site.url }}/assets/css/landing-page.css">

<!-- Custom Fonts -->
<!-- Lato, Google Fonts (preloaded) -->
<link rel="preload stylesheet" as="style" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<!-- Font Awesome (deferred) -->
<script defer src="https://kit.fontawesome.com/0e9764a93c.js" crossorigin="anonymous"></script>

</head>
