<!-- Testimonials Section -->
<section id="testimonials" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
			<h2>Testimonials</h2>
			<div class="lead">
				<i><q>I owe my current job to Saman’s classes!<br><br>
				I needed to learn Python for a job opportunity, and I knew nothing about programming at the time. Saman taught me everything step by step, and within a few months I was able to pass the interview for my new position.</q></i>
				<br>
				<b>Azar Riahi</b> took private classes in 2019.
			</div>
        </div>
    </div>
</section>
